* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

body {
    background-image: url("img/background.png");
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    background-size: cover;
}

 /* >--- HEADER ---< */
header {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    padding: 2vh;
}

hr {
    height: 3px;
    display: flex;
    border-color: grey;
    background-color: grey;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    float: left;
    cursor: pointer;
    margin-left: 30px;
}

.menu-bar {
    width: 50px;
    height: 50px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    box-sizing: border-box;
    padding: 3vh 2vw;
    border-radius: 3vh;
    font-size:  16pt;
    margin-right: 1em;
}

li:hover {
    background-color: #d9bf77;
    transition: all 0.5s ease;
}

.menu-bar {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 20px;
}

/* >--- PRODUCT SECTION ---< */

section {
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 10vh;
    margin: 2.5vh 10vw;
}

.Section-ProdLogo
{
    width: max-content;
    height: max-content;
    display: inline-flex;
}

.Vendo-Prod-Image
{
    width: 15vw; 
    height: 30vh;
    margin: 10vh 5vw;
    border-radius: 2.5rem;
}

.RadioDiv
{
    display: inline-block;
    justify-content: center;
}


.ProdRadioLabel
{
    font-size: 1.25rem;
}

.ProdQtyLabel {
    font-size: 1em;
}

.ProdRadio
{
    background-color: black;
    margin-right: 5vw;
}

.NumberBox {

    width: 32px;
    height: 15px;
    justify-content: center;
    align-items: center;
    
}
